@model mcg_load.Esc_File_Upload

@{
    ViewBag.Title = "Saturación Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">@Model.id_UpLoad</h1>
    <p>Issue #@Model.id_UpLoad</p>
    <hr />
    <p>This is the GridView details page.</p>
</div>