@model mcg_load.Esc_Lineas

@{
    ViewBag.Title = "Lineas Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">@Model.Linea</h1>
    <p>Issue #@Model.Linea</p>
    <hr />
    <p>This is the GridView details page.</p>
</div>